# Directories
build/
decks/

# Specific files
HEMCO_Config.rc
HEMCO_Diagn.rc
HISTORY.rc
a.out
build.sh
clean.sh
gcclassic
gdb.sh
geoschem_config.yml
run.sh
setup.sh
spconfig.py
species_database.yml

# File patterns
load_modules-*.sh
machine.file.*
spack-build.*

# File extensions
*.DS_Store
*.build
*.log
*.mod
*.nc
*.o
*.out
*.patch
*.pdf
*.pik
*.png
*.pyc
*.slm
*.stamp
*.swp
*~
.#*

# Exceptions
!decks/Makefile
